<header>
  <div id="header">
    <div id="header-container">
      <ul class="headers left-header">
        <a href=""><img
            class="logo"
            src="/images/codeEngine.png"
            alt=""
          /></a>
      </ul>
      <ul class="headers right-header">
        <li class="headers-list"><a href="/">Home</a></li>
        <li class="headers-list"><a href="/api-docs">Documentation</a></li>
        <li class="headers-list"><a href="/mysearchs">My Searchs</a></li>
      </ul>
    </div>
  </div>
</header>