 <header>
        <div id="header">
            <div id="header-container">
               <ul class="headers left-header">
                <a href=""><img class="logo" src="/images/FinalAsset 1.png" alt=""></a>
               </ul>
               <ul class="headers right-header">
                <li class="headers-list"><a href="">Index</a></li>
                <li class="headers-list"><a href="">Documentation</a></li>
                <li class="headers-list"><a href="">MySearch</a></li>
               </ul>
            </div>
        </div>
    </header>