<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h2>Buscador</h2>
  <div class="box">
  <div class="container-4">
    <input type="search" id="search" placeholder="Search..." />
    <button class="icon" onclick="buscar()"><i class="fa fa-search">GO</i></button>
    <div class="element"></div>
  </div>
</div>
</div>
