<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="/images/favicon-32x32.png">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
