<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="/images/favicon-32x32.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    {{{body}}}
  </body>
    <script src="/Javascript/main.js"></script>
</html>
