<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    
    {{{body}}}
    <script src="/Javascript/main.js"></script>
  </body>
</html>
