{{>navbar}}
<div id="body">
    <div id="main">
        <div id="main-container">
            <div id="divRes"></div>

            <a href="/">
                <button>Regresar</button>
            </a>
        </div>
    </div>
</div>
{{>footer}}